<%- include ../partials/header.ejs %>

<main>
    
    <h1>Register</h1>
    
    <form method="post" action-"/auth/register">
        <fieldset>
            <label for="username" class="">Username: * </label>
            <input name="username" id="username" required</>
		</fieldset>

		 <fieldset>
            <label for="password" class="">Password: * </label>
            <input name="password" id="password" type="password" required</>
		</fieldset>

		 <fieldset>
            <label for="confirm" class="">Confirm: * </label>
            <input name="confirm" id="confirm" type="password" required</>
		</fieldset>

        <a href="/auth/register" title="Register" class="button">Register</a>

        <br />
        <br />
        
        Or you can <a href="/auth/login" title="Register">Login</a> here

    </form>

</main>