
  
  </div> <!-- Close Page Wrapper-->
  
  
  <footer class="footer">
    <p>&copy Copyright Orie Hulan 2016</p>
  </footer>    
  
       <!-- Latest   jQuery -->
      <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
  
      <!-- Latest compiled and minified   JavaScript -->
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script> 

      <!-- <script src="/public/javascripts/javascripts/scripts.js"></script> -->

</body>

</html>