<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
      <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
   
        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">   
     
     <!-- My Stylesheet -->
    <link rel='stylesheet' href='/stylesheets/style.css' />
     
     
  </head>
  <body>
   
      <section class="top-header">
        <ul class="navbar-right">
            <li><a href="/">Login</a></li>
            <li><a href="">Contact</a></li>
          </ul>
      </section>
      
      <nav class="primary-nav">
        <ul class="">
            <li><a href="/">Home</a></li>
            <li><a href="/directory">Directory</a></li>
          </ul>
      </nav>
      
      <div class="page-wrapper">