<%- include partials/header.ejs %>

<h4>Our Directory</h4>

  <nav class="directory-nav">
    <ul class="">
        <li><a href="/games">Games</a></li>
        <li><a href="/genres">Genres</a></li>
        <li><a href="/locations">Locations</a></li>
        <li><a href="/discounts">Discounts</a></li>
        <li><a href="/advertising">Advertising</a></li>
      </ul>
  </nav>

  <%- include partials/footer.ejs %>